<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link href="table.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:700&amp;subset=cyrillic" rel="stylesheet">

</head>
<body>

    <ul class="menu">
    <li><a href=#>menu1</a>
        <ul>
            <li><a href=#>menu1</a>
            <ul>
                <li><a href=#>menu1</a></li>
                <li><a href=#>menu2</a></li>
                <li><a href=#>menu3</a></li>
                <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu2</a>
            <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu3</a>
            <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>
            <li><a href=#>menu4</a>
            <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>
        </ul>
        </li>
    <li><a href=#>menu2</a>
        <ul>
            <li><a href=#>menu1</a>
            <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu2</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu3</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>
            <li><a href=#>menu4</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>
        </ul>
    </li>
            <li><a href=#>menu3</a>
            <ul>
            <li><a href=#>menu1</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu2</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu3</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>
            <li><a href=#>menu4</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

        </ul>
    </li>

    <li><a href=#>menu4</a>
        <ul>
            <li><a href=#>menu1</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu2</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

            <li><a href=#>menu3</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>
            <li><a href=#>menu4</a>
                <ul>
                    <li><a href=#>menu1</a></li>
                    <li><a href=#>menu2</a></li>
                    <li><a href=#>menu3</a></li>
                    <li><a href=#>menu4</a></li>
                </ul>
            </li>

        </ul>
    </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

 <table>
     <thead>
<tr id="shp">
    <th>Heading1</th>
    <th>Heading2</th>
    <th>Heading3</th>
    <th>Heading4</th>

</tr>
     </thead>
<tbody>
<tr>
    <td>Row1-Column1</td>
    <td colspan="3">Row1-Column2,3,4</td>
</tr>
<tr class="cht">
    <td>Row2-Column1</td>
    <td>Row2-Column2</td>
    <td>Row2-Column3</td>
    <td>Row2-Column4</td>
 </tr>
<tr>
    <td>Row3-Column1</td>
    <td>Row3-Column2</td>
    <td>Row3-Column3</td>
    <td>Row3-Column4</td>
</tr>
<tr class="cht">
    <td>Row4-Column1</td>
    <td>Row4-Column2</td>
    <td>Row4-Column3</td>
    <td>Row4-Column4</td>
</tr>
<tr>
    <td>Row5-Column1</td>
    <td>Row5-Column2</td>
    <td>Row5-Column3</td>
    <td>Row5-Column4</td>
</tr>
<tr class="cht">
    <td>Row6-Column1</td>
    <td>Row6-Column2</td>
    <td>Row6-Column3</td>
    <td>Row6-Column4</td>
</tr>
<tfoot>
 <tr>
     <td colspan="4">Итог:</td>
 </tr>
 </tfoot>
     </tbody>

    </table>

</body>
</html>
